/* div{
    font-size: 12px;
} */

/* .MuiTableCell-root.MuiTableCell-body.MuiTableCell-alignLeft{
    font-size: 12px;
} */

/* tr{
    font-size: 12px;
} */
/* .MuiTableRow-root{
    font-size: 12px;

}
tr{
    font-size: 12px;

} */